{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="form-group">
        <form action="" method="POST">
            <fieldset>
                {{ postform.title.label }}
                {{ postform.title(class="form-control")}}
            </fieldset>
            <fieldset>
                {{ postform.content.label }}
                {{ postform.content(class="form-control")}}
            </fieldset>
            {{ postform.submit(class="btn btn-primary")}}
        </form>
    </div>
</div>

{% endblock content %}